/* @media only screen and (min-width: 300px) {

  .container {
  display: grid;
   grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  repeat(auto);
  background-color: black; 
  }  */
 /* } */
.post
{
  border: 2px solid rgb(227, 217, 217);
 width: 300px;
height: 400px;
  margin: 5px;
  padding:2px;
  display:inline-flex;
  flex-wrap: wrap;
 border-radius: 10px;
 background-color: rgb(16, 15, 15);
 color: white;
}
img{
  width: 297px;
  height: 150px;
  justify-content: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 2px solid none;
}
h4{
 color: whitesmoke;
}
h1{
 color: aliceblue;
}
